<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestAdditionWithZeroNumbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestAdditionWithOnePositiveOneNegative</td>
<td>RegressionTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestAdditionWithPositiveNumbers</td>
<td>RegressionTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReinitialiseResultVar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Teardown</td>
<td>&nbsp;</td></tr>
</table>
