<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegressionTest</td><td>AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]<br/>AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]<br/></td></tr>
</table>
