<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.Init()[pri:0, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdditionTestCases.Teardown()[pri:0, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">TestAdditionWithOnePositiveOneNegative</td> 
  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">TestAdditionWithPositiveNumbers</td> 
  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:56:58</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithZeroNumbers()[pri:3, instance:QualityKiosksTraning.CalculatorAPICICDDemo.AdditionTestCases@6c130c45]">TestAdditionWithZeroNumbers</td> 
  <td>main@227755469</td>   <td></td> </tr>
</table>
