<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testing Calculator API</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDivisionFunctionality.AfterMethod()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDivisionFunctionality.AfterMethod()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:25</td>   <td>17</td> <td title="&lt;&lt;TestMultiplication.CopyResultFile(java.lang.String)[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&lt;&lt;CopyResultFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDivisionFunctionality.CreateObj()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&gt;&gt;CreateObj</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-252</td> <td title="&gt;&gt;TestMultiplication.CreateResultFolder(java.lang.String)[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;CreateResultFolder</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-213</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.Init()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-69</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.Init()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMultiplication.Init()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDivisionFunctionality.InitialiseRes()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&gt;&gt;InitialiseRes</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestDivisionFunctionality.InitialiseRes()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&gt;&gt;InitialiseRes</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.ReInitialise()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">&gt;&gt;ReInitialise</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.ReInitialise()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">&gt;&gt;ReInitialise</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdditionTestCases.ReinitialiseResultVar()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">&gt;&gt;ReinitialiseResultVar</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMultiplication.ReinitialisingResult()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;ReinitialisingResult</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMultiplication.ReinitialisingResult()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;ReinitialisingResult</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMultiplication.ReinitialisingResult()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;ReinitialisingResult</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMultiplication.ReinitialisingResult()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">&gt;&gt;ReinitialisingResult</td> 
<td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestDivisionFunctionality.ReleaseObj()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">&lt;&lt;ReleaseObj</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdditionTestCases.Teardown()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-57</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestingSubtractionTestCases.Teardown()[pri:0, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithOnePositiveOneNegative()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">TestAdditionWithOnePositiveOneNegative</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">TestAdditionWithPositiveNumbers</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/04/20 10:16:24</td>   <td>-184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdditionTestCases.TestAdditionWithZeroNumbers()[pri:3, instance:QualityKiosksTraining.CalculatorAPI.AdditionTestCases@c03cf28]">TestAdditionWithZeroNumbers</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDivisionFunctionality.TestDivisionWithNegativeValues()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">TestDivisionWithNegativeValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>21/04/20 10:16:24</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDivisionFunctionality.TestDivisionWithPositiveValues()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestDivisionFunctionality@1ba9117e]">TestDivisionWithPositiveValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultiplication.TestMultiplicationWithPositiveValues(int, int, int)[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">TestMultiplicationWithPositiveValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultiplication.TestMultiplicationWithPositiveValues(int, int, int)[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">TestMultiplicationWithPositiveValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultiplication.TestMultiplicationWithPositiveValues(int, int, int)[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">TestMultiplicationWithPositiveValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="916fd6">  <td>21/04/20 10:16:24</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultiplication.TestMultiplicationWithPositiveValues(int, int, int)[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestMultiplication@3738449f]">TestMultiplicationWithPositiveValues</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSubtractionTestCases.TestSubtractionWith1Positive1NegativeNumbers()[pri:2, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">TestSubtractionWith1Positive1NegativeNumbers</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>21/04/20 10:16:24</td>   <td>-67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSubtractionTestCases.TestSubtractionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.CalculatorAPI.TestingSubtractionTestCases@2abf4075]">TestSubtractionWithPositiveNumbers</td> 
  <td>main@2125062626</td>   <td></td> </tr>
</table>
